.row {
    display: grid;
    gap: 1rem;
    justify-content: center;
  }
  
  @media (min-width: 1250px) {
    .row {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (min-width: 1080px) and (max-width: 1249px) {
    .row {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (min-width: 768px) and (max-width: 1079px) {
    .row {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 767px) {
    .row {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  